<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>Celery tasks</title>
   <style type="text/css">
      body {
      width: 800px;
      margin: 20px auto;
      }
   </style>
</head>
<body>
   <h1>Django Celery Task</h1>
   <a href="{% url 'send_async_emails' %}">Send Asynchronous Emails</a>
   <hr>

   {% if messages %}
      {% for message in messages %}
         <p style="color: green">{{ message }}</p>
      {% endfor %}
   <hr>
   {% endif %}

{% block content %}
{% endblock %}

</body>
</html>