{% extends 'django_celery/base.html' %}

{% block content %}
<h2>Send Emails</h2>
<form method="post">
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <button type="submit">Submit</button>
</form>
{% endblock %}